.grid-container{
    display:grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: 50px 100px 200px 100px;
}

#boxTwo{
    border-style: solid;
    border-width: 2px;
}

table:hover {
    height: 500px;
    width: 800px;
    transition: width 6s, height 3s;
    transition-delay: 1s;
}